[Desktop Entry]
Version=1.0
Name=QMapShack
Exec=qmapshack %F
Icon=QMapShack
Terminal=false
Type=Application
X-MultipleArgs=false
Categories=Qt;Geoscience;Geography;Science;
GenericName=GPS device mapping utility
Keywords=map;GPS;geocaching;waypoints;tracks;
MimeType=application/x-gpx;
StartupNotify=true
