# CMake example settings for QMS compilation


include("${QMS_MSVC_DIR}\\QMSUser.cfg")

cmake_policy(SET CMP0054 NEW)

set(GISINTERNALS_DEV_PATH "${QMSDIR}/gisinternals/${GISINTERNALS_VER}_231126/release-${GISINTERNALS_VER}-x64" CACHE PATH "gisinternals release path" FORCE)

set(CMAKE_BUILD_TYPE     "Release" CACHE STRING "compile release only" FORCE)

# QMS-specific settings (${PKG} from cmake command-line!): ------------------------------------------------------------
if(${PKG} STREQUAL "QMS")
    set(ROUT             "routino/routino-${ROUTINO_VER}" CACHE STRING "routino bas dir" FORCE)

    set(CMAKE_INSTALL_PREFIX ${QMSDIR}/${QMSSRC}/install CACHE PATH "template for INSTALL DIR" FORCE)

    # see: https://docs.microsoft.com/en-us/cpp/error-messages/compiler-warnings/compiler-warning-level-3-c4996?view=msvc-170
    set(CMAKE_CXX_FLAGS "/wd4996 /wd4101 /wd4005 /wd4003 ${CMAKE_CXX_FLAGS}" CACHE STRING "suppress some QMS compiler warnings" FORCE)

    set(Qt5Widgets_DIR       "${QTBASE}/${QT5_VER}/msvc${QT_MSVC64_VER}/lib/cmake/Qt5Widgets" CACHE PATH "Qt5Widgets dir" FORCE)
    set(QT_DEV_PATH          "${QTBASE}/${QT5_VER}/msvc${QT_MSVC64_VER}" CACHE PATH "Qt5 base dir for given MSVC version" FORCE)

    set(ROUTINO_DEV_PATH     "${QMSDIR}/${ROUT}/install" CACHE PATH "Routino install dir" FORCE)

    set(GDAL_DEV_PATH ${GISINTERNALS_DEV_PATH} CACHE PATH "gisinternals dev path" FORCE)
    set(JPEG_DEV_PATH ${GISINTERNALS_DEV_PATH} CACHE PATH "gisinternals dev path" FORCE)

    set(PROJ_DEV_PATH ${GISINTERNALS_DEV_PATH} CACHE PATH "gisinternals dev path" FORCE)
    set(PROJ_INCLUDE_DIR     ${GISINTERNALS_DEV_PATH}/include/proj9      CACHE PATH     "no docu" FORCE)
    set(LIBPROJ_LIBRARY      "${GISINTERNALS_DEV_PATH}/lib/proj9.lib"    CACHE FILEPATH "no docu" FORCE)

endif()
