
QToolBar {
    padding-left: 5px;
    spacing: 2px;
    background: #ececec;
    border: none
}

QToolBar > QToolButton {
    border-radius: 5px;
    padding: 0px;
    background-color: #ececec;
    border: none;
    width: 24px;
    height: 24px;
}

/* QToolButton with menu: additional space for arrow button */
QToolBar > QToolButton[popupMode="1"] {
    padding-right: 12px;
}

/* QToolButton with menu: arrow button width */
QToolBar > QToolButton::menu-button {
    width: 10px;
}

/* QToolButton with menu: arrow width within arrow button */
QToolBar > QToolButton::menu-arrow {
    width: 8px;
}

QToolBar > QToolButton:checked {
    border: 1px solid #cdcdcd;
    background-color: #d7d7d7;
}

QToolBar > QToolButton:pressed {
    border: 1px solid #cdcdcd;
    background-color: #d7d7d7;
}

QToolBar > QToolButton:hover {
    border: 1px solid #cdcdcd;
    background-color: #d7d7d7;
}
